<div class ="well">
  [<%= message.created_at.strftime("%I:%M %p") %>] 
    <% if defined? message.username then %>
      <%= message.username %>:
    <% end %>
    <% if defined? username then %>
      <%= username %>:
    <% end %>
    <%= message.body %>
</div>